<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>203381435243-k067ibk7gdjk2d4udbioi1ikgo9spac2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203381435243-k067ibk7gdjk2d4udbioi1ikgo9spac2</string>
	<key>API_KEY</key>
	<string>AIzaSyB1K_32dc1b9bAZXR_XxpjB2upuSzMY7iE</string>
	<key>GCM_SENDER_ID</key>
	<string>203381435243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exxars.firebase.unityauthtestapp</string>
	<key>PROJECT_ID</key>
	<string>testauth-3c9fa</string>
	<key>STORAGE_BUCKET</key>
	<string>testauth-3c9fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203381435243:ios:8a614e081d2f59cf</string>
	<key>DATABASE_URL</key>
	<string>https://testauth-3c9fa.firebaseio.com</string>
</dict>
</plist>